{% extends 'djangobasicsapp/Layout.html' %}
{% block body_block %}
  <h1>Add Filter Example</h1>
  <p>{{ ProbationPeriod|add:2 }}</p>
  <p>{{ FirstName|add:' '|add:LastName }}</p>
  <p>{{ 2|add:3 }}</p>
  <P>Adding String Lists : {{ FirstQuarter|add:SecondQuarter }}</P>
  <p>Adding Integer Lists : {{ FQuarter|add:SQuarter }}</p>
  <p>Add Slashes {{ AboutMe|addslashes }}</p>
  <p>CapFirst : {{ AboutMe|capfirst }}</p>
  <p>Lower : {{ AboutMe|lower }}</p>
  <p>upper : {{ AboutMe|upper }}</p>
  <p>Title : {{ AboutMe|title }}</p>
  <h1>Date Time Filters</h1>
  <p>Now is : {{ now }}</p>
  <p>Day of Month with leading zeros : {{ now|date:'d' }}</p>
  <p>Day of Month without leading zeros : {{ now|date:'j' }}</p>
  <p>Day of Week : {{ now|date:'D' }}</p>
  <p>Day of Week Full Text : {{ now|date:'l' }}</p>
  <p>Day of Year : {{ now|date:'z' }}</p>
  <p>Week Number : {{ now|date:'W' }}</p>
  <p>Month Number with leading zeros : {{ now|date:'m' }}</p>
  <p>Month Number without leading zeros : {{ now|date:'n' }}</p>
  <p>Month Name Upper : {{ now|date:'M' }}</p>
  <p>Month Name Lower : {{ now|date:'b' }}</p>
  <p>Month Name Full : {{ now|date:'F' }}</p>
  <p>Month Name Abbreviation : {{ now|date:'N' }}</p>
  <p>Number of Days in a Month : {{ now|date:'t' }}</p>
  <p>Year with Leading Zeros : {{ now|date:'y' }}</p>
  <p>Year without Leading Zeros : {{ now|date:'Y' }}</p>
  <p>Leap Year? Week Number : {{ now|date:'L' }}</p>
  <p>12 Hour Format without Leading Zeros : {{ now|date:'g' }}</p>
  <p>24 Hour Format with Leading Zeros : {{ now|date:'G' }}</p>
  <p>12 Hour Format : {{ now|date:'h' }}</p>
  <p>24 Hour Format : {{ now|date:'H' }}</p>
  <p>Minutes : {{ now|date:'i' }}</p>
  <p>Seconds : {{ now|date:'s' }}</p>
  <p>Micro Seconds : {{ now|date:'u' }}</p>
  <p>a.m. or p.m. : {{ now|date:'a' }}</p>
  <p>AM or PM : {{ now|date:'A' }}</p>
  <p>Time in 12 Hour Format : {{ now|date:'f' }}</p>
  <p>Time in 12 Hour Format with am or pm: {{ now|date:'P' }}</p>
  <p>Using Multiple Specifiers: {{ now|date:'D d M Y' }}</p>
  <p>Time: {{ now|time:'H:i:s:u' }}</p>
{% endblock %}
