<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Training Demos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="Index">DJango Training Demos</a>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="Index">Index<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Home">Hello World Demo<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="UseVariables">Variables Demo<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="GetRequestDemo">QueryString Demo<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="ShowTime">ShowTime Demo<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="ShowProducts">ShowProducts Demo<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="IfTagDemo">IF Template Tag<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="ShowProducts">For Template Tag<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="ShowUsers">Calling RESTAPI 1<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="ShowUsers2">Calling RESTAPI 2<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="ShowUsersDetails">Calling RESTAPI 3<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="PassModel">Pass Model to Template<span></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="BIFDemo">BIFDemo<span></span></a>
          </li>
        </ul>
      </div>
    </nav>
    {% block body_block %}

    {% endblock %}
  </body>
</html>
