{% extends 'djangobasicsapp/Layout.html' %}
{% block body_block %}
  <ul>
    <li>{{ Author.AuthorName }}</li>
    <li>{{ Author.Country }}</li>
    <li>{{ Author.BookName }}</li>
  </ul>
  <table class="table">
    <thead>
      <td>Author Name</td>
      <td>Country</td>
      <td>Book Name</td>
    </thead>
    <tbody>
      {% for author in Authors %}
        {% include 'djangobasicsapp/_ShowAuthorsPartialView.html' with author=author %}
        {% comment %} <tr>
          <td>{{ author.AuthorName }}</td>
          <td>{{ author.Country }}</td>
          <td>{{ author.BookName }}</td>
        </tr> {% endcomment %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
