<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Static Files</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'djangobasicsapp/css/bootstrap.min.css' %}" />
    <script src="{% static 'djangobasicsapp/js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <table class="table">
      <caption>Working With Static Files</caption>
      <thead>
        <tr>
          <td>
            <img src="{% static 'djangobasicsapp/images/django1.jpg' %}" alt="Django Image 1" />
          </td>
          <td>
            <img src="{% static 'djangobasicsapp/images/django2.jpg' %}" alt="Django Image 1" />
          </td>
        </tr>
      </thead>
    </table>
  </body>
</html>
